body {
    font-family: 'pt sans', sans-serif;
    background: #252529;
    margin: 0;
    color: #f7f3f3;
    line-height: 1.6;
    text-size-adjust: 100PX;
    text-align: center;
    
}

a {
    text-decoration: none;
    color: blanchedalmond;
}

#showcase {
    margin: 0;
    padding:0 ;
    background: url(Screenshot\ \(14\).png) center/cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat; 
    flex: content;
    flex: content;
    position: relative;
    overflow: hidden;
    text-align: center;
}
#showcase.container{
    margin-top: 1250vh;
    margin-bottom: 100;
    color: aliceblue;
}
showcase h1{
font-size: 50rem;
}
showcase h2{
    font-size: 50rem;
}
nav{
    height: 35px;
    width: 100%;
    background-color: #333;
    color: rgb(red, green, blue);
    
}
NAV ul{
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
    float: left;
}
NAV A{
    display: inline-block;
    width: 100PX;
    color: aqua;
    text-align:  center;
    text-decoration: none;
    padding: 10PX 0;
    
}
NAV li:hover{
    background-color: #444;

}
.container{
    width: 1180px;
    text-align: center;
    
    margin: 0 auto; 
    padding: 0rem;
    Display: flex;
            flex-direction: column;

}
.lead{
    font-size: 3rem;
}
footer  .footer-cols {
    display: grid;
    Display: flex;
            flex-direction: ROW;
grid-gap: 20px;
grid-template-columns: repeat(4,2fr);
text-align: LEFT;
font-size: 14px;
padding: 2rem;
}
footer .footer-cols ul li:first-child{
    
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
border-bottom: #EEE;
margin-bottom: 1.4rem;
margin-inline: 1rem;
}
footer. footer-botoom{
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

#SEARCH{
    margin: 0;
    padding-left: 30rem ;
    
    color: #fff;
    text-align: center;

}
#NAME{
    margin: 0;
    padding-right: 30REM;
    font-size: medium;
    color: aqua;
}